*{
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}

/* INICIO TEXTO DE AVISOS Y POLITICAS*/
#backgroundavisos{
	background-image: url(../imagenes/background.jpg);
}

#banneravisos{
	max-width: 1000px;
	width:100%;
	background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .90), rgb(196, 196, 196, .90));
	height: 100%;
	margin: auto;
	padding: 50px;
	
}
#banneravisos img{
  width: 190px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#banneravisos p{
	text-align: justify;
	color: #000000;
}
.tituloavisos1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    color: black;
}

.tituloavisos2 {
    font-size: calc(1.3rem + .6vw);
    text-align: center;
    color: black;
}
/*FIN TEXTO DE AVISOS Y POLITICAS*/




