header{
	width:100%;
	/* Flexbox */
	display: flex;
	flex-direction: column;
	background-image: url(img/fondo.jpg);
	background-size: cover;
}


.datos{
	margin: auto;
	color: white;
}

.foto{
	margin: 30px auto;
}


.foto img{
	max-width: 200px;
	width: 100%;
	border-radius: 100%;
	border: 8px solid #ffffff;
}

@media screen and (min-width:768px){

	header{
		flex-direction: row;
		justify-content: space-between;
	}
}
