



header{
	width:100%;
	/* Flexbox */
	display: flex;
	flex-direction:column;
	align-items: center;
}


.logo img{
max-width: 250px;
width: 100%;
}


.btn-ing{
	margin:10px;
	padding: 10px;
	color: #000;
	border-radius: 5px;
	border:2px solid #00B1B2;
	background-color: #00B1B2;
	border-color: #00B1B2;
	font-weight: bold;


}

.btn-ing:hover{
	color: #000;
  background-color: #FFFFFF;
  border-color: #25cff2;
  cursor: pointer;

}

.btn-reg{
	margin:10px;
	padding: 10px;
	background-color: #FFFFFF;
  color: #752995;
  border:2px solid #752995;
  border-radius: 5px;
  font-weight: bold;

}
.btn-reg:hover {
  color: #FFFFFF;
  background-color: #752995;
  cursor: pointer;
}

@media screen and (min-width:768px){

	header{
		flex-direction: row;
		justify-content: space-between;
	}
}

