#infoexp{

	max-width: 1024px;
	width: 100%;
	margin: auto;
	padding: 20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	background-color: #FAFAFA;
}

.tituloform{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
    color: #EE495D;
}

.tituloform h2{
	font-weight: 500;
	font-size: 22px;

}
.tituloform hr{
	max-width: 180px;
	width: 100%;
    margin: 1px auto;
    border: 1px solid #EE495D;
}

.cajasexp{
	display: flex;
}


.cajainfoexp{

	margin-top: 20px;
	max-width: 350px;
	width:100%;
	min-height: 150px;
	height: 100%;
	background-color: #DBEAE8;
	padding: 40px;
}


.cajatextexp{
	text-align: justify;
}

.cajatextexp h4{
	color: black;
}

.cajatextexp h5{
	color: black;
	font-weight: 400;
	font-size: 16px;
	color: black;
}
.cajadetalles{
	padding-left:  30px;
	margin: auto;
}

.cajadetalles h4{

	color: #4B4798;

}

.cajadetalles p{
	font-weight: 400;
	font-size: 16px;
	color: black;
}


.cajasexp2{
	display: flex;

	margin-top: 30px;
	margin-bottom: 20px;

}
